name: Generate cloud demo data
on:
  schedule:
    - cron: "0 */8 * * *"
  workflow_dispatch:
    inputs:
      warehouse-type:
        type: choice
        required: true
        description: Type of warehouse platform
        options:
          - snowflake

env:
  DBT_PACKAGE_DEMO_BRANCH_NAME: now-uses-custom-run-started-at

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Write dbt profiles
        env:
          PROFILES_YML: ${{ secrets.DEMO_CLOUD_PROFILES_YML }}
        run: |
          echo "$PROFILES_YML" | base64 -d > ./jaffle_shop_online/profiles.yml

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9.13"

      - name: Install dbt
        run: >
          pip install --pre
          "dbt-core"
          "dbt-${{ inputs.warehouse-type || 'snowflake' }}"

      - name: Install jaffle shop online project
        run: |
          pip install -e.

      - name: Install dbt package
        run: |
          sed -i 's/package: elementary-data\/elementary/git: https:\/\/github\.com\/elementary-data\/dbt-data-reliability\.git/' ./jaffle_shop_online/packages.yml
          sed -i '3s/version: [0-9][0-9]*\.[0-9][0-9]*\.[0-9][0-9]*$/revision: ${{ env.DBT_PACKAGE_DEMO_BRANCH_NAME }}/' ./jaffle_shop_online/packages.yml
          dbt deps --project-dir "./jaffle_shop_online"
             
      - name: Run initial demo
        env:
          PROFILES_YML: ${{ secrets.DEMO_CLOUD_PROFILES_YML }}
        run: |
          echo "$PROFILES_YML" | base64 -d
          echo "$PROFILES_YML" | base64 -d > ./jaffle_shop_online/profiles.yml
          python data_creation/initial_demo.py --target ${{ inputs.warehouse-type || 'snowflake' }} --days-back 8 --profiles-dir "./jaffle_shop_online"
